.contianer{
    background-color: #FFECD4;
    width: 568px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 20px;
    overflow: hidden;
   
   z-index: 9999; ;
}
.inputbox{
  
    background-color: white;
    width: fit-content;
    
}
.inputandtextbox{
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    
} 
.text{
    width: 80px;
    color: black;
}
.link_to_signup{
    width: 246px;
    padding-top: 25px;
    height: 33px;
    font-size: 24px;
    margin-right: 20px;
    gap: 20px;
}
.button_and_link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    height: 120px;
    width: 160px;
     background-color: #FFECD4;
}
.logobox{
    display: flex;
    justify-content: flex-start;
}
.btn:hover{
    outline: none;
}
.btn:active{
    outline: none !important;
}
.btn:focus-visible{
    outline: none !important;
}