
.cardbox{
    background-color: antiquewhite;
    height:460px;
    width: 290px;
    overflow: hidden; 
}@media (max-width: 1024px) {
  .cardbox {
    width: 280px;
    height:460px;
  }
}

@media (max-width: 768px) {
  .cardbox {
    width: 260px;
    height: 460px;
  }
}

@media (max-width: 480px) {
  .cardbox {
    width: 230px;
    height: 460px;
  }
}




































.cardbox:hover{
  
  box-shadow: 0 5px 12px rgba(147, 147, 147, 0.5);
}
.imagebox{
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagewrapper{
    overflow: hidden; 
  height: 240px;  
}
.cardbox:hover .imagebox {
  transform: scale(1.1);
}

.cardbutton{
  background-color: #f5f1eb !important;
  border:1px solid rgb(161, 144, 125) !important;
  border-radius: 10px !important;
  
}
.cardbox:hover .cardbutton:hover{
  background-color: #8b4513 !important;
  color: white;
}