.image{
    width: 100px;
    height: 60px;
}
.image:hover{
  cursor: pointer;
  box-shadow: 0 5px 12px rgba(147, 147, 147, 0.5);
}
.searchbox {
    width: 40% !important;
    color: black;
    border-radius: 10px !important;
     background-color: rgba(255,236,212,1.5) !important;
    backdrop-filter: blur(12px) !important;        /* no quotes */
    -webkit-backdrop-filter: blur(12px) !important; /* no quotes */
}

.searchbox2{
    /* margin-left: 330px !important;
    margin-right: 320px !important; */
    width:100% !important;
    padding: 0 !important;
    margin: 0 !important;
    color: black;
    border-radius: 10px !important;
    background-color: #f0e6d6ff !important;

}

.searchbox2:hover{
  background-color: #bdb2a4 !important;
}
.searchbox2:focus{
  background-color: #bdb2a4 !important;
}
:global(.MuiBadge-badge) {
  background-color: #8a3d1f !important;
  color: white !important;
}
/* 
<Search className={styles.searchbox}>
            <SearchIconWrapper>
              <SearchIcon sx={{color:"#624f39"}}/>
            </SearchIconWrapper>
            <StyledInputBase
              placeholder="Search…"
              inputProps={{ 'aria-label': 'search' }}
            />
          </Search> */