.container {
  display: flex;
  flex-direction: column;
  background-color: #f1e6d5;
  color: #3e2e1f;
  padding: 2%;
  text-align: center;
}
.title{
    margin-left: 200px !important;
    margin-bottom: 50px !important;
}