.container{
    margin: 0;
    padding-top: 1px;
   width: 100%;
   min-height: 200vh;
    background-color: blanchedalmond;
     box-sizing: border-box; 
  
}


.productcontainer{
    background-color: #f1f5eb;
    display: flex;
   justify-content: center;
    padding-bottom: 40px;
    
}
.productcontainer2{
    
    display: flex;
    justify-content: center;
    
}